		<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		xmlns:android = "http://schemas.android.com/apk/res/android"
		id        = "com.home-advantage.day-plan"
		versionCode="10"
		version   = "1.0.0">
		<name>Day Plan		</name>
		<description>A quick way to plan and keep track of your day		</description>
		<author href="https://github.com/SOEL86" email="mamorleyclarke@gmail.com">Michael Alex Morley-Clarke		</author>
		<preference name="phonegap-version" value="cli-6.1.0" />
		<platform name="android">
		<icon src="art\ldpi.png" qualifier="ldpi" />
		<icon src="art\mdpi.png" qualifier="mdpi" />
		<icon src="art\hdpi.png" qualifier="hdpi" />
		<icon src="art\xhdpi.png" qualifier="xhdpi" />
		<icon src="art\xxhdpi.png" qualifier="xxhdpi" />
		<icon src="art\xxxhdpi.png" qualifier="xxxhdpi" />
		</platform>
		 <icon src="icon.png" />
		</widget>